# Ignore Python compiled bytecode directories in any path
**/__pycache__/

# Ignore bulk local virtual environment files
venv/
.venv/
.env
.env.local

# Ignore the backup files of .drawio
*.bkp

# ignore macOS system files
.DS_Store
**/.DS_Store

# for testing purposes
test-*.py
*.xlsx
updated.csv

#Unit test / coverage
.coverage
.coverage.*
htmlcov/
.pytest_cache/
.tox/
nosetests.xml
junit*.xml

#db
*.db

# linkedin cookies file
my_linkedin_cookies.json
