body {
  background-color: #d0bcfe;
  box-shadow: none;
  font-family: "Roboto", sans-serif;
}

.button {
  padding: 8px 16px;
  background-color: #6200ee;
  border-radius: 10px;
  color: #ffffff;
  cursor: pointer;
}

input:focus {
  outline: none;
}

.success {
  color: #025700;
  background-color: #d4edda;
  border: 1px solid #d4edda;
  border-radius: 5px;
  width: 100%;
  padding: 0.5rem 1rem;
}
.error {
  color: #fa4856;
  background-color: #f8d7da;
  border: 1px solid #f8d7da;
  border-radius: 5px;
  width: 100%;
  padding: 0.5rem 1rem;
}
.danger {
  color: #af3f00;
  background-color: #fff2e5;
  border: 1px solid #fff2e5;
  border-radius: 5px;
  width: 100%;
  padding: 0.5rem 1rem;
}
