body {
  background-color: #d0bcfe;
  box-shadow: none;
  font-family: "Roboto", sans-serif;
}

.button {
  padding: 8px 16px;
  background-color: #6200ee;
  border-radius: 10px;
  color: #ffffff;
}

input:focus {
  outline: none;
}
