{% extends 'base.html' %} {% block content %}
<div class="flex flex-col md:flex-row gap-6 w-full grow">
  <div
    class="min-w-2xs bg-white text-black flex flex-row md:flex-col gap-6 p-4 max-h-max flex-wrap"
  >
    <div class="text-lg font-bold">Data Updating Tool</div>
    <a
      href="{{ url_for('main.workspace') }}"
      class="{% if nav == 'workspace' %}text-violet-700 {% else %}text-gray-700{% endif %}"
    >
      Workspace
    </a>
    <a
      href="{{ url_for('main.logs') }}"
      class="{% if nav == 'logs' %}text-violet-700 {% else %}text-gray-700{% endif %}"
    >
      Logs
    </a>

    <a
      href="{{ url_for('main.settings') }}"
      class="{% if nav == 'settings' %}text-violet-700 {% else %}text-gray-700{% endif %}"
    >
      Settings
    </a>
    <a
      href="{{ url_for('main.logout') }}"
      class="{% if nav == 'logout' %}text-violet-700 {% else %}text-gray-700{% endif %}"
    >
      Log out
    </a>
     <div class="bottom-left-buttons">
      <button id="scrapeBtn" class="button cursor-pointer w-24 bg-violet-700 text-white rounded-md py-2 hover:bg-violet-800 transition-colors duration-300">🕸️ Scrape URL</button>
      <button id="scrapeInformationBtn" class="button cursor-pointer w-24 bg-violet-700 text-white rounded-md py-2 hover:bg-violet-800 transition-colors duration-300">🕸️ Scrape Info</button>
      <button id="updateUrlBtn" class="button cursor-pointer w-24 bg-violet-700 text-white rounded-md py-2 hover:bg-violet-800 transition-colors duration-300">🔗 Update URL</button>
      <button id="updateInformationBtn" class="button cursor-pointer w-24 bg-violet-700 text-white rounded-md py-2 hover:bg-violet-800 transition-colors duration-300">📝 Update Info</button>
    </div>
  </div>
  <div class="grow flex flex-col">
    <div
      class="bg-slate-100 rounded-xl border-violet-700 border-2 overflow-auto flex p-4 justify-center items-center grow"
    >
      {% block main_content %} {% endblock %}
    </div>
  </div>
</div>

{% endblock %}
