{% extends 'layout.html' %} {% block main_content %}
<div
  class="flex justify-center items-start h-full overflow-x-auto overflow-y-auto bg-white"
>
  <table class="text-left w-full border-collapse">
    <thead>
      <tr class="border-b">
        <th class="py-3 px-4 font-semibold text-gray-700">Date</th>
        <th class="py-3 px-4 font-semibold text-gray-700">Summary</th>
      </tr>
    </thead>
    <tbody>
      {% for log in logs %}
      <tr
        class="hover:bg-gray-100 cursor-pointer border-b border-gray-400"
        onclick="toggleLogDetail(this, {{ log.id }})"
      >
        <td class="py-3 px-4">
          {{ log.created_at.strftime('%Y-%m-%d %H:%M:%S') }}
        </td>
        <td class="py-3 px-4">{{ log.result }}</td>
      </tr>
      <tr class="log-detail hidden bg-gray-100">
        <td colspan="2" class="p-0">
          <table class="w-full border-b border-gray-400">
            <thead>
              <tr class="border-b border-gray-300">
                <th class="px-4 py-1 font-semibold text-gray-700 min-w-40">
                  Record Name
                </th>
                <th class="px-4 py-1 font-semibold text-gray-700">Status</th>
                <th class="px-4 py-1 font-semibold text-gray-700">Source</th>
                <th class="px-4 py-1 font-semibold text-gray-700">Detail</th>
              </tr>
            </thead>
            <tbody class="details-body"></tbody>
          </table>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<script>
  function toggleLogDetail(row, logId) {
    const detailRow = row.nextElementSibling;
    const tbody = detailRow.querySelector(".details-body");

    // Fetch details only if table is empty
    if (tbody.innerHTML.trim() === "") {
      fetch(`/logs/${logId}/details`)
        .then((response) => response.json())
        .then((data) => {
          tbody.innerHTML = "";
          data.forEach((detail) => {
            const tr = document.createElement("tr");
            tr.classList.add("hover:bg-gray-50");
            tr.innerHTML = `
                        <td class="px-6 py-3">${detail.record_name}</td>
                        <td class="px-6 py-3">${detail.status}</td>
                        <td class="px-6 py-3">${detail.source}</td>
                        <td class="px-6 py-3 break-words">${detail.detail}</td>
                    `;
            tbody.appendChild(tr);
          });
        });
    }

    // Toggle visibility
    if (detailRow.classList.contains("hidden")) {
      detailRow.classList.remove("hidden");
    } else {
      detailRow.classList.add("hidden");
    }
  }
</script>
{% endblock %}
