{% extends 'layout.html' %} {% block main_content %}
<div class="space-y-4 max-w-2xl mx-auto py-6 min-w-md overflow-y-auto">
  <h2 class="text-2xl font-semibold mb-2">Scraping Progress</h2>

  <div class="w-full bg-gray-200 rounded-full h-6 overflow-hidden shadow-inner">
    <div
      id="bar"
      class="h-6 bg-green-500 rounded-full transition-all duration-500"
    ></div>
  </div>

  <div id="status" class="mt-2 text-gray-700 font-medium text-xl">
    Starting...
  </div>
  <div id="log_result" class="mt-2 text-gray-700 font-medium"></div>

  <div
    id="exportSection"
    class="flex flex-col gap-4 max-w-2xl mx-auto mt-6 hidden"
  >
    <button
      id="exportBtn"
      class="button cursor-pointer w-24 bg-violet-700 text-white rounded-md py-2 hover:bg-violet-800 transition-colors duration-300"
    >
      ⬇️ Export
    </button>
  </div>

  <ul id="details" class="mt-4 space-y-1 text-gray-600"></ul>
</div>

<script>
  const logId = {{ log_id }}; // passed from Flask render_template

  function updateProgress() {
    fetch(`/update_progress/${logId}`)
      .then((res) => res.json())
      .then((data) => {
        document.getElementById("status").innerText = data.status;
        document.getElementById("log_result").innerText = data.log_result;
        let percent = data.total ? (data.completed / data.total) * 100 : 0;
        document.getElementById("bar").style.width = percent + "%";

        // Show per-record details
        let detailsList = document.getElementById("details");
        detailsList.innerHTML = "";
        data.details.forEach((d) => {
          let li = document.createElement("li");
          li.className = "flex justify-between px-2 py-1 bg-gray-100 rounded shadow-sm";
          li.innerText = `${d.record_name} → ${d.status}: ${d.detail}`;
          detailsList.appendChild(li);
        });
        if (data.status === "error") {
          document.getElementById("status").classList.add("text-red-600", "font-bold");
        }
        else if (data.status == "in progress") {
          setTimeout(updateProgress, 1000);
        } else {
          document.getElementById("status").classList.add("text-green-600", "font-bold");
          document.getElementById("exportSection").classList.remove("hidden");
              document.getElementById("exportBtn").addEventListener("click", () => {
    window.location.href = "/export";
  });
        }
      })
      .catch((err) => {
        console.error("Error fetching progress:", err);
        setTimeout(updateProgress, 3000); // retry after 3s if error
      });
  }

  updateProgress();
</script>
{% endblock %}
